compile
*.m4
*.in
config.*
configure
configure~
depcomp
install-sh
missing
stamp-h1
output.*
requests
traces.*
*.o
.deps/

*.bin
stage1.txt
stage2/stage2
stage1/stage1
*.log
*.cckd
tools/bin2rec
barebones/kernel

Makefile