# PDOS/390 has been configured to use only
# 32 MiB so that it can run on a P390
MAINSIZE             32
ARCHMODE             Z/ARCH
CPUSERIAL            000611
CPUMODEL             4381
DIAG8CMD             ENABLE
NUMCPU               1 
OSTAILOR             QUIET
PANRATE              MEDIUM
PGMPRDOS             RESTRICTED
CODEPAGE             819/1047

# Ideally put the console first. It can be either an integrated
# console (3215-C) or a "normal" telnet console (3215). Or a 3270
# terminal. Or an EBCDIC ANSI terminal (1052 repurposed for this).
# The address can be anything.
0009      3215-C     / noprompt
#0009      3215       noprompt
#0009      3270
#0009      1052       noprompt
# The 2703 doesn't work yet
#0009      2703       lport=32003 dial=IN lnctl=tele2 uctrans=no term=tty skip=88C9DF iskip=0A

# This is the IPL disk and can be any address
01b9      3390       flat00.cckd
